.container {
  padding: 0 2rem;
  background-color: #F7F7F7;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.studentInfo {
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  min-width: 320px;
  padding: 15px 26px 20px;
}

.studentInfoItem {
  color: #333;
  display: flex;
  justify-content: space-between;
}

.studentInfoItem:first-child {
  font-size: 16px;
  font-weight: 400;
}

.studentInfoItem:nth-of-type(2) {
  font-size: 20px;
  font-weight: 500;
}
